@model ResetPasswordViewModel

<body style="background-color:whitesmoke">
    <div style="margin-top:100px">
        <form method="post" class="mt-5 bg-white" style="width:50%;margin:0 auto;border:1px solid rgba(235,234,234,0.5)  ;border-radius:20px;box-shadow:2px 2px 2px">
        
            <div class="mt-3">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div style="width:50% ;margin:50px auto">
                    <span class="text-danger" asp-validation-for="CurentPassword"></span>
                    <input class="form-control" asp-for="CurentPassword" style="border-radius:10px" placeholder="Current Password" />
                </div>        

                <div style="width:50% ;margin:50px auto">
                    <span class="text-danger" asp-validation-for="Password"></span>
                    <input class="form-control" asp-for="Password" style="border-radius:10px" placeholder="New Password" />
                </div>

                <div style="width:50% ;margin:50px auto">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    <input class="form-control" asp-for="ConfirmPassword" style="border-radius:10px" placeholder="Confirm Password" />
                </div>

                <div style="text-align:center;margin-bottom:20px">
                    <input style="width:100px" class="btn btn-outline-secondary" type="submit" value="Save"  />
                </div>
                
            </div>            
        </form>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}